/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  color: #999999;
  font-weight: normal;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #3f51b5;
}
a:hover {
  text-decoration: underline;
}

.kw-content {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 800px;
}

.kw-card-grid > mat-card {
  margin: 20px;
}

@media screen and (min-width: 800px) {
  .kw-card-grid {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:stretch;
  }
  .kw-card-grid > mat-card {
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
  }
}
