<div class="kw-content">
  <h1>
    Rendelések
  </h1>

  <div *ngFor="let order of orderMap$ | async | keyvalue: orderedByDate">

    <div class="centered">
      <span class="orderId"> {{order.key}}</span>
    </div>

    <div class="centered" *ngIf="getOrderInfo(order.value) as order">
      <div>E-mail: <b>{{order.email}}</b></div>
      <div>Dátum: <b>{{order.date | date:'medium'}}</b></div>
    </div>

    <div *ngFor="let items of order.value | keyvalue">

      <div class="store">
        <span> {{items.key ? items.key.fullName : "-" }}</span>
      </div>

      <div class="item" *ngFor="let item of items.value">
        <app-item-card
          [item]="item"
          (openCarousel)="openCarousel($event)"
          [horizontal]="true"
        >
        </app-item-card>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
