<app-file-upload (drop)="onFilesDropped($event)" [multiple]="false">
  <div class="file-upload-container">

    <p *ngIf="!uploadedFile">
      Húzd ide a képet, <br/>
      vagy használd a feltöltés gombot.
    </p>

    <app-thumbnail *ngIf="uploadedFile" [url]="uploadedFile.thumbnail.url"></app-thumbnail>

    <app-upload-button class="upload-button" (selected)="onFilesDropped($event)" [multiple]="false" >

    </app-upload-button>
  </div>
</app-file-upload>

<div class="indicator mat-elevation-z4" *ngIf="(report$ | async).length">
  <app-upload-indicator *ngFor="let report of (report$ | async)" [report]="report.value$">
  </app-upload-indicator>
</div>
