<div class="kw-card-grid">
  <mat-card class="example-card" *ngFor="let item of items">

    <img mat-card-image class="card-image" [src]="item.data.thumbnail.url">
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of item.data.tags">{{tag}}</mat-chip>
      </mat-chip-list>
      <p>
        {{item.data.sex}} - {{item.data.size}}
        <span *ngIf="item.data.sizeEstimated">* <br /><small> * Becsült méret</small></span>
      </p>

      <p *ngIf="item.data.description">
        {{item.data.description}}
      </p>
    </mat-card-content>
    <div class="editor">
      <button mat-mini-fab color="accent" [routerLink]="'/edit/' + item.id">
        <mat-icon aria-label="Módosít">edit</mat-icon>
      </button>

      <button mat-mini-fab color="accent">
        <mat-icon aria-label="T9r9l">delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
