<mat-card>
  <img mat-card-image
       alt="{{item.id}}"
       class="card-image"
       [src]="item.data.thumbnail.thumbnail.url"
       (click)="openCarousel.emit({id: item.id, index:0})" />
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of item.data.tags">{{tag}}</mat-chip>
    </mat-chip-list>
    <h4>
      <small>#{{item.id}}</small><br/>
      {{item.data.sex}} - {{item.data.size}}
      <span *ngIf="item.data.sizeEstimated">* <br/><small> * Becsült méret</small></span>
    </h4>

    <div class="images" *ngIf="item.data.images.length">
      <img alt="{{item.id}}/{{i}}"
           *ngFor="let image of item.data.images; let i = index"
           [src]="image.thumbnail.url"
           (click)="openCarousel.emit({id: item.id, index:1+i})"
      />
    </div>

    <p *ngIf="item.data.description">
      {{item.data.description}}
    </p>
  </mat-card-content>
  <div class="shopping-cart">
    <button mat-icon-button [disabled]="isInCart()" (click)="addToCart()">
      <mat-icon aria-label="Kosárba">shopping_cart</mat-icon>
    </button>
  </div>
  <div class="editor" *ngIf="userService.isAdmin() | async">
    <button mat-mini-fab color="accent" [routerLink]="'/edit/' + item.id">
      <mat-icon aria-label="Módosít">edit</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="deleteItem()">
      <mat-icon aria-label="Töröl">delete</mat-icon>
    </button>
  </div>
</mat-card>
