<mat-card [class.horizontal]="horizontal" [style.background-color]="getBackgroundColor()">
  <img mat-card-image
       *ngIf="!horizontal"
       alt="{{item.id}}"
       class="card-image"
       [src]="item.data.thumbnail.thumbnail.url"
       (click)="openCarousel.emit({id: item.id, index:0})" />
  <img class="horizontal-card-image"
       *ngIf="horizontal"
       [src]="item.data.thumbnail.thumbnail.url"
       (click)="openCarousel.emit({id: item.id, index:0})" />

  <div class="content">
    <app-item-info [item]="item">
    </app-item-info>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of item.data.tags">{{tag}}</mat-chip>
    </mat-chip-list>

    <!--<div class="images">-->
      <!--<img alt="{{item.id}}/{{i}}"-->
           <!--*ngFor="let image of item.data.images; let i = index"-->
           <!--[src]="image.thumbnail.url"-->
           <!--(click)="openCarousel.emit({id: item.id, index:1+i})"-->
      <!--/>-->
    <!--</div>-->

    <p *ngIf="item.data.description">
      {{item.data.description}}
    </p>
  </div>
  <div class="shopping-cart">
    <button *ngIf="action === 'add'" mat-icon-button [disabled]="isInCart()" (click)="addToCart()">
      <mat-icon aria-label="Kosárba">shopping_cart</mat-icon>
    </button>
    <button *ngIf="action === 'remove'" mat-icon-button (click)="removeFromCart(item)">
      <mat-icon aria-label="Kosárba">delete_forever</mat-icon>
    </button>
  </div>
  <div class="editor" *ngIf="userService.isAdmin() | async">
    <button mat-mini-fab color="accent" [routerLink]="'/edit/' + item.id">
      <mat-icon aria-label="Módosít">edit</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="deleteItem()">
      <mat-icon aria-label="Töröl">delete</mat-icon>
    </button>
  </div>
</mat-card>
