.editor {
  position: absolute;
  top: 5px;
  right: 5px;
}
.editor button {
  margin: 2px;
}
.shopping-cart {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.content {
  margin: -26px -6px -6px -6px
}
.card-image {
  cursor: pointer;
}
.images {
  margin: 10px -1px;
}
.images img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 1px;
  cursor: pointer;
}

.horizontal .content {
  margin: -10px 0 0 180px;
}
.horizontal-card-image
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 100%;
  object-fit: cover;
}

.active {
  font-weight: bold;
}

.orderData {
  color: white;
  padding: 20px;
  background: rgba(60, 60, 200, .6)
}

.info-ordered {
  background-color: #ff6666;
}
.info-shipped {
  background-color: #22aa22;
}

.info-shipped, .info-ordered {
  color: white;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
}

.mat-menu-item {
  height: 35px;
  line-height: 35px;
}
.mat-divider {
  margin: 10px 0;
}
