.editor {
  position: absolute;
  top: 5px;
  right: 5px;
}
.editor button {
  margin: 2px;
}
.shopping-cart {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.content {
  margin: -26px -6px -6px -6px
}
.card-image {
  cursor: pointer;
}
.images {
  margin: 10px -1px;
}
.images img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 1px;
  cursor: pointer;
}

.horizontal .content {
  margin: -10px 0 0 150px;
}
.horizontal-card-image
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 100%;
  object-fit: cover;
}
