
.row {
  margin: 10px 10px;
  padding: 10px 20px;
  background-color: #ffffff;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.full-width {
  width: 100%;
}

.radio-group {
  padding: 20px 0;
}

.radio-button {
  margin-right: 30px;
}

p {
  color: rgba(0,0,0,.54);
  font-size: 75%;
}

.buttons {
  text-align: right;
}
.buttons a {
  margin: 0 20px;
}
