<ng-masonry-grid class="grid"
                 [masonryOptions]="{ transitionDuration: '0.3s', gutter: 10 }"
                 [useAnimation]="false"
                 [useImagesLoaded]="true">

  <ng-masonry-grid-item
    *ngFor="let item of items$ | async"
    [id]="item.id"
    class="card"
  >
    <app-item-card
      [item]="item"
      (openCarousel)="openCarousel($event)"
    ></app-item-card>
  </ng-masonry-grid-item>
</ng-masonry-grid>

<div class="floating-buttons">
  <button mat-fab color="primary" (click)="openSearchSeet()">
    <mat-icon aria-label="Új cucc">search</mat-icon>
  </button>

  <button *ngIf="isAdmin() | async" mat-fab [routerLink]="'/create'">
    <mat-icon aria-label="Új cucc">add</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="openCartSheet()">
    <mat-icon aria-label="Új cucc">shopping_cart</mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
