
<div class="categories">
  <mat-chip-list class="kw-centered-chips">

    <mat-chip color="primary" selected
              *ngFor="let category of (categories$ | async)"
              [routerLink]="'/shop/'+category.key"
              [disabled]="(activeCategory$ | async) === category.key"
    >
      {{category.value}}
    </mat-chip>
    <mat-chip color="warn" selected
              [routerLink]="'/shop'"
              [disabled]="!(activeCategory$ | async)"
    >
      TELJES VÁLASZTÉK
    </mat-chip>
  </mat-chip-list>
</div>

<div class="grid">
  <animated-list
    [items]="items$ | async"
    [itemTemplate]="itemTemplate"
    (progress)="reportProgress($event)"
  >
    <ng-template #itemTemplate let-item='item'>
      <app-item-card
        [item]="item"
        [action]="'add'"
        (openCarousel)="openCarousel($event)"
      ></app-item-card>
    </ng-template>

  </animated-list>
</div>

<div class="floating-buttons">
  <button mat-fab [color]="(isFiltering() | async) ? 'warn' : 'primary'" (click)="openSearchSheet()">
    <mat-icon aria-label="Új cucc">search</mat-icon>
  </button>

  <button *ngIf="isAdmin() | async" mat-fab [routerLink]="'/create'">
    <mat-icon aria-label="Új cucc">add</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="openCartSheet()">
    <mat-icon aria-label="Új cucc">shopping_cart</mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
