<div *ngIf="orderId$ | async as orderId" class="kw-content">
  <h1>
    Rendelés
  </h1>

  <div class="centered">
    <span class="orderId"> {{orderId}}</span>
  </div>

  <p class="text">
    {{postBuyText$ | async}}
  </p>


  <div *ngIf="orderedItems$ | async as orderedItems">

    <div class="item" *ngFor="let item of orderedItems">
      <app-item-card
        [item]="item"
        (openCarousel)="openCarousel($event)"
        [horizontal]="true"
      >
      </app-item-card>
    </div>
  </div>

  <div class="centered">
    <img class="image" src="/assets/kavezo.jpg">
  </div>

</div>

<router-outlet></router-outlet>
