<div class="kw-content half-width">

  <h1>
    Jelszócsere
  </h1>


  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="kw-row">
      <mat-form-field class="kw-full-width">
        <input matInput type="password" placeholder="Régi jelszó" formControlName="oldPassword"/>
      </mat-form-field>
      <mat-form-field class="kw-full-width">
        <input matInput type="password" placeholder="Új jelszó" formControlName="newPassword"/>
      </mat-form-field>
      <mat-form-field class="kw-full-width">
        <input matInput type="password" placeholder="Új jelszó még egyszer" formControlName="newPasswordAgain"/>
      </mat-form-field>
    </div>

    <div class="kw-row kw-row-buttons">
      <a href="#" (click)="navigateBack($event)">Vissza</a>
      <button mat-raised-button color="primary"
              [disabled]="!passwordForm.valid"
              type="submit">JELSZÓCSERE
      </button>
    </div>

  </form>
</div>
