h1.example-app-name {
  color: white;
}

.container {
  height: 100%;
  background-image: url("/assets/bg.jpg");
}

.header {

}

.toolbar-content {
  text-align: center;
  width: 100%;
}

.content {
}

.header img {
  width: 2.8em;
  height: 2.8em;
  margin: 0 10px;
  vertical-align: middle;
}

.header span {
  color: white;
  font-weight: 300;
  font-family: Montserrat, Robot, "Helvetica Neue", sans-serif;
}
