<div class="container" [class.container-main]="showMainHeader">
  <div class="header" [class.header-main]="showMainHeader">
    <a [routerLink]="['/']">
      <span>KIWI</span>
      <img src="/assets/logo.png"/>
      <span>TURI</span>
    </a>

    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>{{ (user$ | async) ? 'person' : 'more_vert' }}</mat-icon>
      </button>
      <mat-menu #menu="matMenu">

        <div *ngIf="(user$ | async) as user">
          <div class="username">{{user.fullName}}</div>
        </div>

        <a routerLink="/shop">
          <button mat-menu-item>
            <mat-icon>search</mat-icon>
            <span>Bolt</span>
          </button>
        </a>
        <a routerLink="/about">
          <button mat-menu-item>
            <mat-icon>people</mat-icon>
            <span>Rólunk</span>
          </button>
        </a>
        <a routerLink="/cart">
          <button mat-menu-item>
            <mat-icon>shopping_cart</mat-icon>
            <span>Kosár</span>
          </button>
        </a>
        <mat-divider></mat-divider>

        <a *ngIf="!(user$ | async)" routerLink="/login">
          <button mat-menu-item>
            <mat-icon>lock_open</mat-icon>
            <span>Belépés szerkesztőknek</span>
          </button>
        </a>

        <a *ngIf="(user$ | async)" routerLink="/orders">
          <button mat-menu-item>
            <mat-icon></mat-icon>
            <span>Megrendelések</span>
          </button>
        </a>

        <a *ngIf="(user$ | async)" routerLink="/config">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Beállítások</span>
          </button>
        </a>

        <button *ngIf="(user$ | async)" mat-menu-item (click)="toggleArchiveMode()">
          <mat-icon>folder</mat-icon>
          <span>Archívum (be/ki)</span>
        </button>

        <mat-divider></mat-divider>

        <a *ngIf="(user$ | async)" routerLink="/change-password">
          <button mat-menu-item>
            <mat-icon>autorenew</mat-icon>
            <span>Jelszócsere</span>
          </button>
        </a>

        <button *ngIf="(user$ | async)" mat-menu-item (click)="logout()">
          <mat-icon>lock</mat-icon>
          <span>Kilépés</span>
        </button>

      </mat-menu>
    </div>
  </div>

  <div class="content">
    <router-outlet>
    </router-outlet>
  </div>

  <div class="footer">
  </div>

</div>

<div class="progress" *ngIf="(progress$ | async) as progress">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

