
<div class="header">
  <h1>Kiwituri</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada libero vitae nulla commodo,
    ut varius quam convallis. Mauris at lobortis odio, et vestibulum nisl. Cras a neque mattis diam consequat ullamcorper.
    Vestibulum id purus enim. Duis dapibus vitae lorem sagittis accumsan. Sed laoreet auctor enim sed varius.
  </p>
</div>

<div class="cols">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Használt ruhát<br />keresek</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/kiwi1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada libero vitae nulla commodo,
          ut varius quam convallis.
        </p>
        <p>
          <a href="/about#buy">Hogyan vásárolhatpok?</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button [style.width]="'100%'" color="primary">IRÁNY A BOLT</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Van felesleges<br /> ruhám</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/kiwi2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Mauris at lobortis odio, et vestibulum nisl. Cras a neque mattis diam consequat ullamcorper.
          Vestibulum id purus enim. Duis dapibus vitae lorem sagittis accumsan. Sed laoreet auctor enim sed varius.
        </p>
        <p>
          <a href="/about#sell">Hová vigyem a ruhákat?</a>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Tetszik az ötlet, <br />csatlakoznék</mat-card-title>
        </mat-card-header>
      <img mat-card-image src="/assets/kiwi3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Cras a neque mattis diam consequat ullamcorper.
          Vestibulum id purus enim. Duis dapibus vitae lorem sagittis accumsan. Sed laoreet auctor enim sed varius.
        </p>
        <p>
          <a href="/about#contacts">Kapcsolat</a>
        </p>
      </mat-card-content>
    </mat-card>

</div>
