<div class="kw-content header">

  <div *ngIf="tldr$ | async as content">
    <ngx-md>
      {{content}}
    </ngx-md>
  </div>


  <p>
    <a routerLink="/shop">
      <button mat-raised-button color="primary">
          <mat-icon aria-label="Új cucc">shopping_cart</mat-icon>
          Lássam a ruhákat...
      </button>
    </a>
  </p>


  <p>
    <a routerLink="/about">
      Mi a Kiwi-turi? - Hogyan tudok vásárolni? - Mennyibe kerül?
    </a>
  </p>

</div>
  <!--
  <div class="circles">
    <a routerLink="/shop">
      <div class="circle mat-elevation-z6">
        <img src="/assets/kiwi1.jpg" alt="shop">
        <div>
          <mat-icon aria-label="Új cucc">shopping_cart</mat-icon>
          <br>Lássam a ruhákat...
        </div>

      </div>
    </a>

    <a routerLink="/about">
      <div class="circle circle-shop">
        <div>
          <mat-icon aria-label="Új cucc">shopping_cart</mat-icon>
          <br>Mi a Kiwi-turi? Hogyan tudok vásárolni? Mennyibe kerül?
        </div>
      </div>
    </a>

  </div>-->



<!--
<div class="kw-content kw-card-grid">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Használt ruhát<br/>keresek</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/kiwi1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div *ngIf="tab1$ | async as content">
        <ngx-md>
          {{content}}
        </ngx-md>
      </div>

      <p>
        <a href="/about#buy">Hogyan vásárolhatpok?</a>
      </p>
      <p>
        <a routerLink="/shop">Irány a bolt</a>
       </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Van felesleges<br/> ruhám</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/kiwi2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div *ngIf="tab2$ | async as content">
        <ngx-md>
          {{content}}
        </ngx-md>
      </div>
      <p>
        <a href="/about#sell">Hová vigyem a ruhákat?</a>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Tetszik az ötlet, <br/>csatlakoznék</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/kiwi3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div *ngIf="tab3$ | async as content">
        <ngx-md>
          {{content}}
        </ngx-md>
      </div>
      <p>
        <a href="/about#contacts">Kapcsolat</a>
      </p>
    </mat-card-content>
  </mat-card>

</div>-->
