<div class="kw-content" *ngIf="cartItems$ | async as cart">

  <h1>
    Kosár
  </h1>

  <div *ngIf="cart.length" class="container">

    <div class="item" *ngFor="let item of cart">
      <app-item-card
        [item]="item"
        [action]="'remove'"
        (openCarousel)="openCarousel($event)"
        [horizontal]="true"
      >
      </app-item-card>
    </div>

    <form [formGroup]="buyForm" (ngSubmit)="onSubmit()">
      <div class="kw-row transparent">
        {{preBuyText$ | async}}
      </div>

      <div class="kw-row transparent">
        <mat-form-field class="kw-full-width">
          <input matInput type="email" placeholder="E-mail" formControlName="email"/>
        </mat-form-field>
      </div>

      <div class="kw-row kw-row-buttons transparent">
        <a routerLink="/shop">
          Még válogatok
        </a>

        <button mat-raised-button color="primary"
                [disabled]="!buyForm.valid"
                type="submit">IDE VELE...
        </button>
      </div>

    </form>
  </div>
  <div class="container buttons" *ngIf="!cart.length">
    <p>
      Válassz valamit!
    </p>
    <p>
      <a routerLink="/shop">
        <button type="button" mat-stroked-button>Vissza</button>
      </a>
    </p>
  </div>

</div>

<router-outlet></router-outlet>
