<div class="content">

  <h1>
    Új ruha
  </h1>

  <form [formGroup]="uploadForm">

    <div class="row">
      <app-attachement-control
        formControlName="thumbnail"
      ></app-attachement-control>
    </div>

    <div class="row">
      <app-attachement-control
        formControlName="images"
      ></app-attachement-control>
    </div>

    <div class="row">
      <app-tag-control
        formControlName="tags"
        [placeholder]="'Kategóriák'"
        [hint]="'Válassz egy vagy több kategóriát vagy írj be újat.'"
        [allTags]="allTags"
      ></app-tag-control>
    </div>

    <div class="row">
      <mat-radio-group class="radio-group" formControlName="sex">
        <mat-radio-button class="radio-button" *ngFor="let sex of sexes" [value]="sex">
          {{sex}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-select placeholder="Méret" formControlName="size" required>
          <mat-option *ngFor="let size of sizes" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>

      </mat-form-field>
      <p>Ha nincs meg az eredeti címke, akkor is tippelj, és jelöld itt, hogy ez becsült méret.</p>

      <mat-checkbox formControlName="sizeEstimated">Becsült méret</mat-checkbox>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Részletek" cdkTextareaAutosize formControlName="description"></textarea>
        <mat-hint>Bármi, amit még tudni érdemes. Nem kötelező kitölteni,</mat-hint>
      </mat-form-field>
    </div>

  </form>

  <div class="row">
    <pre>{{uploadForm.getRawValue() | json}}</pre>
  </div>
</div>





